NWTiS_projekt/mkovacek_aplikacija_2/mkovacek_aplikacija_2_3/web/WEB-INF/wsdl/localhost_8084/mkovacek_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.mkovacek.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.mkovacek.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.mkovacek.nwtis.foi.org/" schemaLocation="http://localhost:8084/mkovacek_aplikacija_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajSveAdrese">
<part name="parameters" element="tns:dajSveAdrese"/>
</message>
<message name="dajSveAdreseResponse">
<part name="parameters" element="tns:dajSveAdreseResponse"/>
</message>
<message name="dajVremenskuPrognozuZaOdabranuAdresuSatima">
<part name="parameters" element="tns:dajVremenskuPrognozuZaOdabranuAdresuSatima"/>
</message>
<message name="dajVremenskuPrognozuZaOdabranuAdresuSatimaResponse">
<part name="parameters" element="tns:dajVremenskuPrognozuZaOdabranuAdresuSatimaResponse"/>
</message>
<message name="dajRangListuAdresaNajviseMeteoPodataka">
<part name="parameters" element="tns:dajRangListuAdresaNajviseMeteoPodataka"/>
</message>
<message name="dajRangListuAdresaNajviseMeteoPodatakaResponse">
<part name="parameters" element="tns:dajRangListuAdresaNajviseMeteoPodatakaResponse"/>
</message>
<message name="dajVremenskeStaniceZaOdabranuAdresu">
<part name="parameters" element="tns:dajVremenskeStaniceZaOdabranuAdresu"/>
</message>
<message name="dajVremenskeStaniceZaOdabranuAdresuResponse">
<part name="parameters" element="tns:dajVremenskeStaniceZaOdabranuAdresuResponse"/>
</message>
<message name="dajVazeceMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresu"/>
</message>
<message name="dajVazeceMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>
</message>
<message name="dajNzadnjihMeteoPodatakaZaAdresu">
<part name="parameters" element="tns:dajNzadnjihMeteoPodatakaZaAdresu"/>
</message>
<message name="dajNzadnjihMeteoPodatakaZaAdresuResponse">
<part name="parameters" element="tns:dajNzadnjihMeteoPodatakaZaAdresuResponse"/>
</message>
<message name="dajSveKorisnikoveAdrese">
<part name="parameters" element="tns:dajSveKorisnikoveAdrese"/>
</message>
<message name="dajSveKorisnikoveAdreseResponse">
<part name="parameters" element="tns:dajSveKorisnikoveAdreseResponse"/>
</message>
<message name="dajMeteoPrognozuZaAdresu">
<part name="parameters" element="tns:dajMeteoPrognozuZaAdresu"/>
</message>
<message name="dajMeteoPrognozuZaAdresuResponse">
<part name="parameters" element="tns:dajMeteoPrognozuZaAdresuResponse"/>
</message>
<message name="dajMeteoPodatkeZaAdresuOdDo">
<part name="parameters" element="tns:dajMeteoPodatkeZaAdresuOdDo"/>
</message>
<message name="dajMeteoPodatkeZaAdresuOdDoResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaAdresuOdDoResponse"/>
</message>
<message name="dajSveKorisnikoveAdreseZaRest">
<part name="parameters" element="tns:dajSveKorisnikoveAdreseZaRest"/>
</message>
<message name="dajSveKorisnikoveAdreseZaRestResponse">
<part name="parameters" element="tns:dajSveKorisnikoveAdreseZaRestResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajSveAdrese">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajSveAdreseRequest" message="tns:dajSveAdrese"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajSveAdreseResponse" message="tns:dajSveAdreseResponse"/>
</operation>
<operation name="dajVremenskuPrognozuZaOdabranuAdresuSatima">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajVremenskuPrognozuZaOdabranuAdresuSatimaRequest" message="tns:dajVremenskuPrognozuZaOdabranuAdresuSatima"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajVremenskuPrognozuZaOdabranuAdresuSatimaResponse" message="tns:dajVremenskuPrognozuZaOdabranuAdresuSatimaResponse"/>
</operation>
<operation name="dajRangListuAdresaNajviseMeteoPodataka">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajRangListuAdresaNajviseMeteoPodatakaRequest" message="tns:dajRangListuAdresaNajviseMeteoPodataka"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajRangListuAdresaNajviseMeteoPodatakaResponse" message="tns:dajRangListuAdresaNajviseMeteoPodatakaResponse"/>
</operation>
<operation name="dajVremenskeStaniceZaOdabranuAdresu">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajVremenskeStaniceZaOdabranuAdresuRequest" message="tns:dajVremenskeStaniceZaOdabranuAdresu"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajVremenskeStaniceZaOdabranuAdresuResponse" message="tns:dajVremenskeStaniceZaOdabranuAdresuResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuRequest" message="tns:dajVazeceMeteoPodatkeZaAdresu"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuResponse" message="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>
</operation>
<operation name="dajNzadnjihMeteoPodatakaZaAdresu">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajNzadnjihMeteoPodatakaZaAdresuRequest" message="tns:dajNzadnjihMeteoPodatakaZaAdresu"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajNzadnjihMeteoPodatakaZaAdresuResponse" message="tns:dajNzadnjihMeteoPodatakaZaAdresuResponse"/>
</operation>
<operation name="dajSveKorisnikoveAdrese">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajSveKorisnikoveAdreseRequest" message="tns:dajSveKorisnikoveAdrese"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajSveKorisnikoveAdreseResponse" message="tns:dajSveKorisnikoveAdreseResponse"/>
</operation>
<operation name="dajMeteoPrognozuZaAdresu">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajMeteoPrognozuZaAdresuRequest" message="tns:dajMeteoPrognozuZaAdresu"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajMeteoPrognozuZaAdresuResponse" message="tns:dajMeteoPrognozuZaAdresuResponse"/>
</operation>
<operation name="dajMeteoPodatkeZaAdresuOdDo">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaAdresuOdDoRequest" message="tns:dajMeteoPodatkeZaAdresuOdDo"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaAdresuOdDoResponse" message="tns:dajMeteoPodatkeZaAdresuOdDoResponse"/>
</operation>
<operation name="dajSveKorisnikoveAdreseZaRest">
<input wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajSveKorisnikoveAdreseZaRestRequest" message="tns:dajSveKorisnikoveAdreseZaRest"/>
<output wsam:Action="http://server.ws.mkovacek.nwtis.foi.org/GeoMeteoWS/dajSveKorisnikoveAdreseZaRestResponse" message="tns:dajSveKorisnikoveAdreseZaRestResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajSveAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVremenskuPrognozuZaOdabranuAdresuSatima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajRangListuAdresaNajviseMeteoPodataka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVremenskeStaniceZaOdabranuAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajNzadnjihMeteoPodatakaZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveKorisnikoveAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPrognozuZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeZaAdresuOdDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveKorisnikoveAdreseZaRest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/mkovacek_aplikacija_1/GeoMeteoWS"/>
</port>
</service>
</definitions>