NWTiS_projekt/mkovacek_aplikacija_2/mkovacek_aplikacija_2_3/web/WEB-INF/wsdl/localhost_8084/mkovacek_aplikacija_1/GeoMeteoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://server.ws.mkovacek.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.ws.mkovacek.nwtis.foi.org/">

<xs:element name="dajMeteoPodatkeZaAdresuOdDo" type="tns:dajMeteoPodatkeZaAdresuOdDo"/>

<xs:element name="dajMeteoPodatkeZaAdresuOdDoResponse" type="tns:dajMeteoPodatkeZaAdresuOdDoResponse"/>

<xs:element name="dajMeteoPrognozuZaAdresu" type="tns:dajMeteoPrognozuZaAdresu"/>

<xs:element name="dajMeteoPrognozuZaAdresuResponse" type="tns:dajMeteoPrognozuZaAdresuResponse"/>

<xs:element name="dajNzadnjihMeteoPodatakaZaAdresu" type="tns:dajNzadnjihMeteoPodatakaZaAdresu"/>

<xs:element name="dajNzadnjihMeteoPodatakaZaAdresuResponse" type="tns:dajNzadnjihMeteoPodatakaZaAdresuResponse"/>

<xs:element name="dajRangListuAdresaNajviseMeteoPodataka" type="tns:dajRangListuAdresaNajviseMeteoPodataka"/>

<xs:element name="dajRangListuAdresaNajviseMeteoPodatakaResponse" type="tns:dajRangListuAdresaNajviseMeteoPodatakaResponse"/>

<xs:element name="dajSveAdrese" type="tns:dajSveAdrese"/>

<xs:element name="dajSveAdreseResponse" type="tns:dajSveAdreseResponse"/>

<xs:element name="dajSveKorisnikoveAdrese" type="tns:dajSveKorisnikoveAdrese"/>

<xs:element name="dajSveKorisnikoveAdreseResponse" type="tns:dajSveKorisnikoveAdreseResponse"/>

<xs:element name="dajSveKorisnikoveAdreseZaRest" type="tns:dajSveKorisnikoveAdreseZaRest"/>

<xs:element name="dajSveKorisnikoveAdreseZaRestResponse" type="tns:dajSveKorisnikoveAdreseZaRestResponse"/>

<xs:element name="dajVazeceMeteoPodatkeZaAdresu" type="tns:dajVazeceMeteoPodatkeZaAdresu"/>

<xs:element name="dajVazeceMeteoPodatkeZaAdresuResponse" type="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>

<xs:element name="dajVremenskeStaniceZaOdabranuAdresu" type="tns:dajVremenskeStaniceZaOdabranuAdresu"/>

<xs:element name="dajVremenskeStaniceZaOdabranuAdresuResponse" type="tns:dajVremenskeStaniceZaOdabranuAdresuResponse"/>

<xs:element name="dajVremenskuPrognozuZaOdabranuAdresuSatima" type="tns:dajVremenskuPrognozuZaOdabranuAdresuSatima"/>

<xs:element name="dajVremenskuPrognozuZaOdabranuAdresuSatimaResponse" type="tns:dajVremenskuPrognozuZaOdabranuAdresuSatimaResponse"/>

<xs:complexType name="dajVazeceMeteoPodatkeZaAdresu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVazeceMeteoPodatkeZaAdresuResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="geoMeteoWsResponse">
<xs:sequence>
<xs:element name="adrese" type="tns:adresa" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mp" type="tns:meteoPodaci" minOccurs="0"/>
<xs:element name="mpList" type="tns:meteoPodaci" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mprog" type="tns:meteoPrognoza" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="poruka" type="xs:string" minOccurs="0"/>
<xs:element name="vs" type="tns:vremenskeStanice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adresa">
<xs:sequence>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="brojPreuzimanja" type="xs:int"/>
<xs:element name="geoloc" type="tns:lokacija" minOccurs="0"/>
<xs:element name="idadresa" type="xs:long"/>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="statusPreuzimanja" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sati" type="xs:string" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPrognoza">
<xs:sequence>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="dan" type="xs:int"/>
<xs:element name="prognoza" type="tns:meteoPodaci" minOccurs="0"/>
<xs:element name="sati" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vremenskeStanice">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajRangListuAdresaNajviseMeteoPodataka">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="brojAdresa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajRangListuAdresaNajviseMeteoPodatakaResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveKorisnikoveAdrese">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveKorisnikoveAdreseResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveKorisnikoveAdreseZaRest">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveKorisnikoveAdreseZaRestResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveAdrese">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveAdreseResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPrognozuZaAdresu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="brojDana" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPrognozuZaAdresuResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVremenskeStaniceZaOdabranuAdresu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="brojStanica" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVremenskeStaniceZaOdabranuAdresuResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeZaAdresuOdDo">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="odDatum" type="xs:string" minOccurs="0"/>
<xs:element name="doDatum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeZaAdresuOdDoResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVremenskuPrognozuZaOdabranuAdresuSatima">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="brojSati" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVremenskuPrognozuZaOdabranuAdresuSatimaResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajNzadnjihMeteoPodatakaZaAdresu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="broj" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajNzadnjihMeteoPodatakaZaAdresuResponse">
<xs:sequence>
<xs:element name="return" type="tns:geoMeteoWsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>